@import "~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss";

%animation {
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  animation-duration: 1.5s;
  animation-fill-mode: both;
  animation-name: fadeIn;
}

.searchBox {
  .container {
    margin: 0px auto;
    width: calc(100% - 80px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;

    .searchboxInput {
      @extend %animation;
      input[type="search"] {
        padding: 10px 15px 10px 10px;
        font-size: 36px;
        color: $ms-color-neutralPrimary;
        border: none;
        background-color: $ms-color-themeLight;
        padding-left: 90px;
        min-height: 68px;
      }

      .searchBoxIcon {
        position: fixed;
        font-size: 48px;
        display: block;
        padding: 10px;
        color: $ms-color-white;
        background-color: $ms-color-themePrimary;
      }
    }
  }
  @media only screen and (max-width: 650px) {
    .searchboxInput{
      input[type="search"] {
        width: 100% !important;
      }
    }
    .container{
      width: 100% !important;
    }
  }
}
